html, head, body {
    margin: 0;
    background-color: #101010;

    display: flex;
    overflow: hidden;

    font-family: monospace;
}

.canvascontainer {
    position: relative;
    width: 100vw;
    height: 100vh;

    z-index: 0;
}
canvas {
    display: block;
    image-rendering: pixelated;
}
#shadercanvas {
    background-color: #ff0000; /* bright red, if visible, something is wrong (probably related to alpha) */
}
div {
    color: white;
}

#debug-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: auto;
    z-index: 100;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
#debug-overlay > div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    position: relative;

    display: inline-block;
    white-space: nowrap;
}
#debug-overlay h3 {
    margin: 0;
    padding: 4px;
    line-height: 1;

    text-align: center;
}
input[type="checkbox"] {
    transform: scale(1.5);
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-left: 0px;
}
